/MLC/
/Images-2/
/3100imagesminames/
/patch_im_article/
/patches/
/test_patch/
/results/
/all_images_but_misnamed.zip
/extract_features_output.prof
*.jpg
*.png
*.pkl
/profile_output
/profile_output.prof
/Result.ods
/test_accuracy_bt_diff_years.py
/test_nul.py
/tree_patches.py
/features_output.prof
__pycache__/
models/__pycache__/
/.features/
/.features_Rio_do_Fogo/
/annotations/
/labelset/
